@model PlannerLanParty.Models.ConceptLanViewModel

@{
    ViewData["Title"] = "Vote";
}

<h2>Details</h2>

<div>
    <h4>LanPartyConcept</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LanPartyConcept.LanPartyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanPartyConcept.LanPartyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LanPartyConcept.LanPartyPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanPartyConcept.LanPartyPlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LanPartyConcept.LanPartyAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanPartyConcept.LanPartyAddress)
        </dd>
        @{var counter = 0; }
        @if (Model.AttendeesDates.Count() > 0)
        {
            @foreach (var item in Model.LanPartyDates)
            {

                <input asp-for="@item.CheckkBoxAnswer" class="form-control" id="checkbox + @counter" />
                @if (Model.Attendees.Count() > 0)
                {
                    @foreach (var user in Model.Attendees)
                    {

                        @Html.DisplayNameFor(modelItem => user.UserName)
                    }

                }


                <dt>
                    @Html.DisplayNameFor(modelItem => item.DateTimeStart)

                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.DateTimeStart)

                </dd>
                <dt>

                    @Html.DisplayNameFor(modelItem => item.DateTimeFinish)

                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.DateTimeFinish)

                </dd>

                counter++;
            }

        }


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LanPartyConcept.LanPartyID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<script>

</script>
