@model IEnumerable<PlannerLanParty.Models.Round>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Stuff</th>
                <th>
                    @Html.DisplayNameFor(model => model.GameID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="make-final-button-index" asp-action="SetWinners" asp-controller="RoundWinners" asp-route-id="@item.RoundID">Finalise</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoundID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoundID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoundID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
